# IF use docker-compose.localdb.yaml
# SOURCEDB_PROXY_HOST=proxyhost
# SOURCEDB_HOST=sourcehost
# SOURCEDB_HOST_PORT=3306
# SSHCLI_SSH_ID_ACCESS="-----BEGIN RSA PRIVATE KEY-----\n\n-----END RSA PRIVATE KEY-----"
# SSHCLI_SSH_CONFIG="Host proxyhost\n\tUser user\n\tPort 22\n"
# MYSQL_ROOT_PASSWORD=root

# IF use remote db
# DB_PROXY_HOST=proxyhost
# DB_HOST=sourcehost
# HOST_PORT=3306
# SSHCLI_SSH_ID_ACCESS="-----BEGIN RSA PRIVATE KEY-----\n\n-----END RSA PRIVATE KEY-----"
# SSHCLI_SSH_CONFIG="Host proxyhost\n\tUser user\n\tPort 22\n"